html {
	position: relative;
	height: 100%;
}

.all-height {
	height: 100%;
}

[class*='flexbox'] {
  display: flex;
}

.flexbox-column {
  flex-direction: column;
}

.flexbox-row {
  flex-direction: row;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.errors {
  color: red;
}

.hidden {
	display:none;
}

.app {
	position: relative;
	box-sizing: border-box;
	height:100vh;
	width: 100vw;

}

body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Montserrat';
	// font-size: 100%;
  background: linear-gradient(rgba(0, 0, 30, 0.7), rgba(0, 0, 10, 0.8));//, url(IMG_2783.jpg);
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: cover;
	color: #eee;

	font-size: 15px;
	box-sizing: border-box;
}


p {
  padding: 30px 10px;
}

button {
	background-color: #1DB9C4;
	border-color: #1DB9C4;
	color: #eee;
	padding: 7px 9px;
	border-radius: 15px;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
  margin: 20px;
}

.button-transparent {
	background: hsla(0,0%,9%,.7);
	border: solid #ddd 2px;
}

.button-close {
  background: transparent;
  width: auto;
  margin-bottom: 50px;
}


button:hover {
  color: #fff;
	background-color: #1ED7D0;
  transform: scale(1.06);
}

.button-transparent:hover {
	background: hsla(0,0%,9%,.7);
	border: solid #fff 2px;
}

.button-close:hover {
	background: transparent;
}

a:hover {
	// text-decoration: underline;
}

// Font Elements

h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: 'Montserrat';
}

h1 i {
  font-size: 40px;
  margin-right: 5px;
}
