html {
	position: relative;
	height: 100%;
}

body {
	width: 1200px;
	margin: 0 auto;
	font-family: 'Montserrat';
	font-size: 100%;
  background: linear-gradient(rgba(0, 0, 30, 0.7), rgba(0, 0, 10, 0.8)), url(IMG_2783.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
	color: #eee;
}

.app {
	width: 100%;
	height: auto;
}


p {
  padding: 30px 10px;
}

button {
	background-color: #1DB9C4;
	border-color: #1DB9C4;
	color: #eee;
	padding: 7px 9px;
	border-radius: 15px;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
  margin: 20px;
}

button:hover {
  color: #fff;
}

a:hover {
	// text-decoration: underline;
}

.hidden {
	// display: none;
}

// Font Elements

h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: 'Montserrat';
}

h1 i {
  font-size: 40px;
  margin-right: 5px;
}
