.artists-index-container {
  margin: 10px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  top: 0vh;
  left: 0vw;
  height: 100%;
  // width: 100%;
  // height: 200px;
}

.artists-index {
  // float: left;
  max-width: 1200px;
  margin: 0 auto;
}

.artists-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.artists-column {
  // flex-basis: 100%;
  margin: 10px;
}

.artist-button-container {
  width: 200px;
  height: 200px;
}

.button-artist {
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(congrejo.jpg);
  background-size: cover!important;
  background-position: 50%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px 0px;
}

.artist-index-item-padding {
  margin-top: 20px;
  text-overflow: ellipsis;
  max-width: 200px;
  text-align: center;
}

// @media screen and (min-width: 400px) {
//   ._25 {
//     flex: 2.5;
//   }
//   ._55 {
//     flex: 5.5;
//   }
//   ._20 {
//     flex: 2;
//   }
// }
