.login-signup-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.login-signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.greeting-logo {
  display: flex;
  justify-content: center;

}

.login-signup button {
  width: 300px;
  height: 40px ;
  font-size: 20px;
  margin: 15px 0;
  border-radius: 40px;
}

.button-signup {

}

.button-login {
  color: black;
  background-color: #fff;
}

.button-login:hover {
  color: #000;
}

.separator-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.separator-text {
  color: #999999;
}

.separator-line {
  width: 25px;
  height: 1px;
  background-color: hsla(0,0%,100%,.6);
  margin: 10px 0;
}

.greeting-logo {
  margin-top: 50px;
}
