.left-nav-container {
  background: linear-gradient(to top, #000000 50%, #006699 132%);
  color: #999999;
  float: left;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  box-sizing: border-box;
}

.left-nav {

}

.left-nav-expand {

}

.left-nav-header {

}

.left-nav-group {

}
