.music-bar-container {
  position: fixed;
  vertical-align: baseline;
  bottom: 0;
  width: 100%;

}

.music-bar-footer {
  background-color: #282828;
  position: relative;
  z-index: 1;
}

.music-bar-buttons button {
  background: transparent;
}
