
.playlists-index-container {
  margin: 10px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  top: 0vh;
  left: 0vw;
  height: 100%;
  // width: 100%;
  // height: 200px;
}
.modal-hidden {
  z-index: 10;
  top: -60vh;
}

.playlists-header {
  justify-content: center;
}

.playlists-index {
  // float: left;
  max-width: 1200px;
  margin: 0 auto;
}

.playlists-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.playlists-column {
  flex-basis: 100%;
  margin: 10px;
}
.playlist-button-container {
  width: 200px;
  height: 200px;
}

.button-playlist {
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(big_sur.jpg);
  background-size: cover!important;
  background-position: 50%;
  border-radius: 0;
}

.playlist-index-item-padding {
  margin-top: 20px;
}

@media screen and (min-width: 800px) {
  ._25 {
    flex: 2.5;
  }
  ._55 {
    flex: 5.5;
  }
  ._20 {
    flex: 2;
  }
}
