.playlists-index-container {
  margin: 10px;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0vh;
  left: 0vw;
  height: 100%;
}

.modal-hidden {
  z-index: 10;
  top: -200px;
}

.playlists-index {
  max-width: 1200px;
  margin: 0 auto;
}

.playlists-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.playlists-column {
  margin: 10px;
}
.playlist-button-container {
  width: 200px;
  height: 200px;
}

.button-playlist {
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(big_sur.jpg);
  background-size: cover!important;
  background-position: 50%;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px 0px;
}

.playlist-index-item-padding {
  margin-top: 20px;
  text-overflow: ellipsis;
  max-width: 200px;
  text-align: center;
}

// @media screen and (min-width: 400px) {
//   ._25 {
//     flex: 2.5;
//   }
//   ._55 {
//     flex: 5.5;
//   }
//   ._20 {
//     flex: 2;
//   }
// }
