.login-form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  color: #999999;
}

.login-form-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

.login-input {
  background: white;
  height: 26px;
  padding: 6px 12px;
  border: 1px solid  #999999;
  margin: 5px 0;
  width: 100%;
}

.session-submit {
  background-color: #1DB9C4;
  border-color: #1DB9C4;
  color: #eee;
  padding: 7px 9px;
  border-radius: 15px;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin: 10px;
  width: 300px;
  height: 30px;
  border-radius: 25px;
  font-size: 20px;
}
