<!DOCTYPE html>
<html>
  <head>
    <title>Soundify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Montserrat:400,700|Roboto" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
